@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.feedwrapper {
  display: flex;
  overflow: auto;
  /* background-color: red; */
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 20px;
  margin: 10px 0;
}

body{
  display: flex;
  justify-content: center;
  background: #ecf0f3;
}

.box{
    position: relative;
    height: 40px;
    justify-content: center;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    transition: 0.8s;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    align-self: center;
}

.box:hover input {
    width: 300px;
    cursor: text;
}

.box input:not(:placeholder-shown) {
    width: 300px;
}

.users-list a{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    justify-content: space-between;
}
:is(.users-list) .content{
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
}
:is(.users-list) .content:hover{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.8);
}
:is(.users-list) .content .details{
    color: #000;
    margin-left: 20px;
}
:is(.users-list) .details span{
    font-size: 18px;
    font-weight: 500;
}
.users-list{
    opacity: 0;
    top: 52px;
    transition: 1s;
  }
  .users-list.show {
    opacity: 1;
    max-height: 350px;
    overflow-y: auto;
    top: 42px;
    justify-content: center;
    position: absolute;
    background-color: #fff;
    width: 360px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    z-index: 9999; /* Set a high z-index value */
  }
  
  :is(.users-list)::-webkit-scrollbar{
    width: 0px;
  }
  .users-list a{
    text-decoration: none;
  }
  .users-list a:last-child{
    margin-bottom: 0px;
    border-bottom: none;
  }
  .users-list a img{
    height: 40px;
    width: 40px;
    border-radius: 30px;
  }
  .users-list a .details p{
    color: #67676a;
}

.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

.box i{
    color: #4070f4;
    font-size: 20px;
}

