@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{
  display: none;
}

body{
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #eef5fe;
}

body .contents{
  margin-top: 40px;
  position: relative;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
  background: #eef5fe;
}

.contents {
  position: relative;
  width: 400px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  gap: 50px;
  overflow-y: auto; /* Enable vertical scrolling */
}

.contents .wrapper {
  background: #fff;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
  width: 400px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 350px;
  max-height: 850px;
}


.form {
  position: absolute;
  width: 350px;
  padding: 30px;
  top: 10px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 800px;
}

.video {
  position: relative;
  width: 350px;
  margin-top: 2px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

video {
  width: 350px;
  height: auto;
  border-radius: 10px;
}
img {
  width: 350px;
  height: auto;
  border-radius: 10px;
}

.user-info {
  position: relative;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  padding: 15px 0;
}

.user-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: auto;
}
.user-info span {
  width: 30px;
  height: 30px;
  margin-right: 280px;
}

.caption {
  height: 100px;
  position: relative;
  color: black;
  cursor: default;
}
.caption .Description{
  position: absolute;
  top: 10px;
}

span {
  cursor: default;
  color: black;
}

.engagement {
  width: 150px;
  position: absolute;
  display: flex;
  right: -50px;
  align-items: center;
  bottom: 0;
  color: white;
  border-radius: 0 0 30px 0;
}

.engagement span {
  align-items: center;
  margin-bottom: 10px;
  margin-right: 5px;
  font-size: 20px;
  color: black;
  cursor: default;
}

.engagement i {
  margin-right: 3px;
}

i:hover {
  cursor: pointer;
  color: black;
}

i.ri-thumb-up-fill.like-btn {
  color: blue;
  transition: 0.8s;
}

.engagement .delete{
  position: relative;
  width: 50%;
  border: none;
  outline: none;
  padding: 12px 0;
  color: #31344b;
  font-size: 17px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  z-index: 4;
}

.engagement .delete{
  background: #ecf0f3;
  box-shadow: -3px -3px 7px #ffffff,
               3px 3px 5px #ceced1;
}

.engagement .delete:hover::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff,
              inset 3px 3px 5px #ceced1;
}

.engagement .delete:hover{
  background: red;
  color: white;
  opacity: 0.5;
}

.engagement .delete{
  z-index: 999999999999999999999;
  border-radius: 5px;
}

.engagement .delete:first-child{
  margin-right: 20px;
  margin-bottom: 10px;
}
.engagement .delete:last-child{
  margin-left: 10px;
}